<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %> 
    <title>Create Account - TinyApp</title>
  </head>

  <body>
    <% include ./partials/_header %>
    <% include ./partials/_modal %>

    <main style="margin: 1em;">

      <!-- create form to complete user registration post
      Use "email" and "password", "password2" in the template object to pass data to routers.js -->
      <h3>Create Account</h3>

      <form action="/register" method="POST">
        <div class="form-group">
          <label for="email">Enter an email:</label>
          <input class="form-control" type="email" name="email" required placeholder="Enter email" style="width: 300px">
        </div>

        <div class="form-group">
          <label for="password">Set a password:</label>
          <input class="form-control" type="password" name="password" required placeholder="Password" style="width: 300px">
        </div>

        <div class="form-group">
          <label for="password">Retype password:</label>
          <input class="form-control" type="password" name="password2" required placeholder="Password" style="width: 300px">
        </div>        

        <button type="submit" class="btn btn-primary">Register</button>
      </form>

    </main>

  </body>
</html>
