<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/_head %> 
  </head>

  <body>

    <% include ./partials/_header %>
    <% include ./partials/_modal %>

    <div class="card text-center">
        <!-- generate short URL path like: /u/random 
        template variable: "longURL" and "shortURL" are shared between router.js -->
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= longURL %> </h5>
          <p class="card-text">Short URL: <a href="/u/<%= shortURL %>" target="_blank"> <%= shortURL %> </a></p>
        </div>

        <!-- add a form for editing current shortURL's long URL
        template variable: "newURL" is shared with routers.js -->
        <div class="card-header"></div>
        <div class="card-body">
          <font size="12">Edit</font></br>
          <form class="centered" action="/urls/<%= shortURL %>/edit" method="POST">
            <div class="centered">
              <label for="newURL">New URL:</label>
              <input type="text" name="newURL" required placeholder="http://" style="width: 300px; margin: 1em;">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>

      <div class="card-footer text-muted"></div>
    </div>

  </body>
</html>
